@{
    ViewData["Title"] = "Listado de Peliculas";
}

<div class="text-center">
    <h1 class="display-4">Todas las Peliculas</h1>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" onclick="ModalNuevaPelicula()" data-bs-toggle="modal"
    data-bs-target="#ModalPeliculas">
    Nueva Pelicula
</button>

<!-- Modal -->
<div class="modal fade" id="ModalPeliculas" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalPeliculas"></h5>
                <button type="button" class="btn-close" onclick="LimpiarModal()" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div>
                            <input type="hidden" id="PeliculaId" value="0">
                        </div>
                        <div class="col-md-6">
                            <label for="tituloPelicula" class="form-label">Titulo de la Pelicula</label>
                            <input type="text" id="tituloPelicula" class="form-control"
                                style="text-transform:uppercase">
                        </div>
                        <div class="col-md-6">
                            <label for="directorPelicula" class="form-label">Director de la Pelicula</label>
                            <input type="text" id="directorPelicula" class="form-control"
                                style="text-transform:uppercase">
                        </div>
                        <div class="col-md-6 mt-2">
                            <label for="anioPelicula" class="form-label">A単o de lanzamiento</label>
                            <input type="number" id="anioPelicula" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label for="alquilada" class="form-label">多Alquilar esta pelicula?</label>
                            <input type="checkbox" id="alquilada" class="form-check-input">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="LimpiarModal()"
                    data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" onclick="GuardarDatos()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<table class="table table-secondary table-striped mt-3">
    <thead>
        <tr>
            <th>多Alquilada?</th>
            <th>Titulo</th>
            <th>Director</th>
            <th>A単o de lanzamiento</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tbody-peliculas"></tbody>
</table>

@section Scripts {
    <script src="~/js/peliculas-1.0.js"></script>
}